html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
button{
  display: flex;
  width: 75px;
  text-align: center;
  font-size: 12px;
}
h1 {
  justify-content: left;
  color: whitesmoke;
  font-family: 'praise', 'sans-serif';
  font-size: 100px ;
}
p {
  color:  hotpink;
  font-size: 100px;
  margin: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.userQuestion{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url('/17520.jpg');
}
.API-answer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
input{
  font-size: x-large;
  padding: 10px;
  width: 265px;
}
@media only screen and (max-width: 600px) {
  h1{
    text-align: center;
    width: 100%;
    font-size: 60px;
  }
  .siteName{
    display: flex;
    width: 100%;
  }
  .API-answer{
    max-width: 10%;
    max-height: 10%;
  }
}
/* .userQuestion {
  background-image: url('https://i.imgur.com/4Whzc9K.jpg');
} */