html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/17520.jpg');
}
h5 {
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
  margin-top: 10px;
  margin-left: 50px;
  font-family: 'merienda', 'sans-serif';
}
h1 {
  justify-content: left;
  color: whitesmoke;
  font-family: 'praise', 'sans-serif';
  font-size: 100px;
  text-shadow: -5px 0 black, 0 1px black, 5px 0 black, 0 -1px black;
  margin-top: 5px;
  margin-bottom: -2px;
}
form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
input{
  font-size: x-large;
  padding: 10px;
  width: 265px;
}
button{
  display: flex;
  width: 75px;
  text-align: center;
  font-size: 12px;
}
p {
  color: whitesmoke;
  font-size: 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 10px;
  bottom: 0;
  left: 0;
}
.footer {
  position: fixed;
  font-size: 15px;
  left: 0;
  bottom: 0;
  
  height: 15%;
  width: 100%;
  color: gray;
  text-shadow: 0px;
  text-align: center;
}
.userQuestion{
  display: flex;
  justify-content: center;
  align-items: center;
}
.API-answer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.notAQP{
  font-size: 25px;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
   h1{
    text-align: center;
    text-justify: inter-word;
    width: 100%;
    font-size: 60px;
  }
  h5{
    text-align: center;
    text-justify: inter-word;
    margin-left: 0;
    font-size: 12px;
  }
  .siteName{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .API-answer{
    display: flex;
    justify-content: center;
  }
}

.linked-in{
  font-size: 30px;
  color: antiquewhite;
}